<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Les sondages de MattMatt - Edition</title>
	<%- include ("parts/include.ejs") %>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<section class="sondage-header">
		<div class="sondage-header__info-contener">
			<% if (data.password) {%><div class="sondage-header__info-contener__password">Mot de passe: <%=data.password%></div><%}%>
			<div class="sondage-header__info-contener__date"><%=data.creationDate%></div>
		</div>
		<h2 class="sondage-header__title"><%=data.title%></h2>
		<p class="sondage-header__description"><%-data.description.replace(/\n/g,"<br/>")%></p>
		<a class="sondage-header__edit" id="editButton" href="#editParams">Éditer</a>
	</section>
	<section class="form-contener-column sondageContener">
		<nav class="form-contener__form" method="POST" action="">
			<% if (locals.questions) {
				questions.forEach((question,index)=>{%>
					<div class="presentationComponent" id="question.<%=question.id%>">
						<nav class="presentationComponent__toolBar" id="toolbar.<%=index%>">
							<input
								type="checkbox" 
								name="typeChoice.<%=question.id%>"
								id="typeChoice.<%=question.id%>.multiple"
								<% if (question.type == "multiple") {%>
									checked
								<%}%>
								>
							<label For="typeChoice.<%=question.id%>.multiple">
								Réponses multiples
							</label>
							<button class="saveButton" id="saveQuestion.<%=data.id%>.<%=question.id%>.<%=token%>">
								<img src="/images/save.png">
							</button>
							<a class="deleteButton" id="deleteQuestion.<%=question.id%>.<%=token%>" href="/gestion/deleteQuestion/<%=data.id%>/<%=question.id%>/?token=<%=token%>">
								<img src="/images/trash.png">
							</a>
						</nav>
						
						<h3 class="presentationComponent__title"><%=question.question%></h3>
						<div class="presentationComponent__content-extended">
							<ol class="presentationComponent__content__list" id="list.<%=question.id%>">
								<% var temp = JSON.parse(question.choix)
								temp.forEach((choix,indexChoix)=>{%>
									<li class="presentationComponent__content__list__question-element" id="choix.<%=question.id%>.<%=indexChoix%>">
										<div 
										class="presentationComponent__content__list__question-element__contener"
										id="<%=question.id%>.<%=indexChoix%>.<%=token%>">
											<label For="">
											<input 
												type="text" 
												name="textValue.<%=question.id%>.<%=indexChoix%>"
												class="choicesTextInput"
												value="<%=choix%>">
											</label>
										</div>
									</li>
								<%})%>
							</ol>
							<button class="presentationComponent__content-extended__addChoiceButton" name="<%=data.id%>.<%=question.id%>.<%=token%>">
								<img src="/images/add.png">
							</button>
						</div>
					</div>
			<%	})
			}%>
		</nav>
		<button class="addQuestion" id="addQuestion" name="<%=data.id%>.<%=token%>">
			+
		</button>
		<form class="form-contener__form" id="newQuestion" method="POST" action="/gestion/addQuestion/<%=data.id%>?token=<%=token%>">
			<h3>Nouvelle question</h3>
			<label For="title">Titre</label>
			<input 	type="text"
					name="title" 
					id="title" 
					required 
					minlength="4" 
					maxlength="30"
					autofocus
					placeholder="Titre"
			>
			<div class="instruction-contener">
				<label class="instruction-contener__instruction" id="titleLengthValidator">Le titre fait au moins 4 caractères<br/> mais moins de 30 caractéres</label>
			</div>
			<input type="button" name="cancel" id="cancel" value="Annuler">
			<input type="submit" name="submit" value="Ajouter">
		</form>
	</section>
	<section class="form-contener" id="editParams">
		<a href="#" class="closeLink">❌</a>
		<h2>Configuration: <%=data.title%></h2>
		<form class="form-contener__form" method="POST" action="/gestion/edit/description/<%=data.id%>?token=<%=token%>">
			<label For="description">Description:</label>
			<textarea id="description"  placeholder="Description" name="description"><%=data.description%></textarea>
			<input type="submit" name="submit" value="Enregistrer">
		</form>
		<form class="form-contener__form" method="POST" action="/gestion/edit/password/<%=data.id%>?token=<%=token%>">
			<input type="checkbox" name="passwordCheckBox" id="passwordCheckBox" <%if (data.passwordNeeded) {%>checked<%}%>>
			<label For="passwordCheckBox" class="checkboxLabel">Mot de passe requis</label>
			<div class="form-contener__form__passwordContener">
				<label For="password">Mot de passe:</label>
				<input 	type="text" 
						name="password" 
						id="password" 
						minlength="8"
						placeholder="Mot de passe"
						value="<%=data.password%>" 
				>
				<div class="instruction-contener">
					<label 	class="instruction-contener__instruction" 
							id="passwordNumberValidator">Le mot de passe contient un nombre</label>
					<label 	class="instruction-contener__instruction"
							id="passwordMajValidator">Le mot de passe contient une majuscule</label>
					<label 	class="instruction-contener__instruction"
							id="passwordMinValidator">Le mot de passe contient une minuscule</label>
					<label 	class="instruction-contener__instruction"
							id="passwordSpetialValidator">Le mot de passe contient un caractère<br/> spétial (*.! @#$%^&(){}[]:;<>,.?/~_+-=|\)</label>
					<label 	class="instruction-contener__instruction"
							id="passwordLengthValidator">Le mot de passe fait au moins 8 caractères</label>
				</div>
			</div>
			<input type="submit" name="submit" value="Enregistrer">
		</form>
	</section>
	<%- include ("parts/footer.ejs") %>

	<script type="text/javascript" src="/js/editSondage.js"></script>
	<!-- Error script-->
	<script type="text/javascript"> 
		<% if (locals.error) {%>
			alert("<%=error%>")
		<% } %>
	</script>
</body>
</html>