<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Les sondages de MattMatt - Gestion</title>
	<%- include ("parts/include.ejs") %>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<h3>Mes sondages</h3>
	<section class="table-contener">
		<div>
			<% if (row.length == 0) {%>
				<h2>Vous n'avez actuellement pas de sondages</h2>
				<a href="/gestion/create">Créez votre premier sondage !</a>
			<% } else {%>
				<table class="tableSondage">
					<thead>
						<tr>
							<td>Id</td>
							<td>Titre</td>
							<td>Réponses</td>
							<td>Mot de passe</td>
							<td>Date de création</td>
							<td>Public</td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody class="tableSondage__body">
						<% row.forEach((data) => {%>
							<tr>
								<td><%=data.id%></td>
								<td><%=data.title%></td>
								<td><%=data.responses%></td>
								<td>
									<% if (data.passwordNeeded) {%>
										Oui
									<%} else {%>
										Non
									<%}%>
								</td>
								<td><%=data.creationDate%></td>
								<td>
									<% if (data.published) {%>
										Oui
									<%} else {%>
										Non
									<%}%>
								</td>
								<td>
									<% if (!data.published){%>
										<button class="editButton" id="editButton.<%=data.id%>" name="<%=data.title%>">Editer</button>
										<button class="publishButton" id="publishButton.<%=data.id%>.<%=token%>" name="<%=data.title%>">Publier</button>
									<%} else {%>
										<button class="generateLinkButton" id="generateLinkButton.<%=data.id%>" name="<%=data.title%>">Créer un lien</button>
										<button class="seeResponsesButton" id="seeResponsesButton.<%=data.id%>" name="<%=data.title%>">Voir les réponses</button>
									<%}%>
									<button class="deleteButton" id="deleteButton.<%=data.id%>.<%=token%>" name="<%=data.title%>">Suprimmer</button>
								</td>
							</tr>
						<%})%>
					</tbody>
				</table>
			<%}%>
		</div>
	</section>
	<%- include ("parts/footer.ejs") %>
	<!-- Error script-->
	<script type="text/javascript"> 
		<% if (locals.error) {%>
			alert("<%=error%>")
		<% } %>
	</script>
	<script type="text/javascript" src="/js/gestion.js"></script>
</body>
</html>