<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Les sondages de MattMatt - Répondre a un sondage</title>
	<%- include ("parts/include.ejs") %>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<section class="sondage-header">
		<div class="sondage-header__info-contener">
			<div class="sondage-header__info-contener__password">
				Mot de passe: <% if (data.passwordNeeded) {%>oui<%} else {%>non<%}%>
				</div>
			<div class="sondage-header__info-contener__date"><%=data.creationDate%></div>
		</div>
		<h2 class="sondage-header__title"><%=data.title%></h2>
		<p class="sondage-header__description"><%-data.description.replace(/\n/g,"<br/>")%></p>
	</section>
	<section class="form-contener-column sondageContener">
		<form class="form-contener__form noBackground" method="POST" action="/sondage/response/<%=token%>">
			<% if (locals.questions) {
				questions.forEach((question,index)=>{%>
				<div class="presentationComponent" id="question.<%=question.id%>" name="<%=data.id%>">
					<h3 class="presentationComponent__title"><%=question.question%></h3>
					<div class="presentationComponent__content-extended">
						<ol class="presentationComponent__content__list" id="list.<%=question.id%>">
							<% var temp = JSON.parse(question.choix)
							temp.forEach((choix,indexChoix)=>{%>
								<li class="presentationComponent__content__list__question-element" id="choix.<%=question.id%>.<%=indexChoix%>">
									<% switch(question.type) {

										case "single":
											%>
											<input 	type="radio" 
													name="responseFor.<%=data.id%>.<%=question.id%>" 
													required 
													id="responseFor.<%=data.id%>.<%=question.id%>.<%=indexChoix%>"
													value="<%=indexChoix%>">
											<%
											break
										case "multiple":
											%>
											<input 	type="checkbox"
													name="responseFor.<%=data.id%>.<%=question.id%>"
													id="responseFor.<%=data.id%>.<%=question.id%>.<%=indexChoix%>"
													class="normal"
													value="<%=indexChoix%>">
											<%
											break
									}%>
									<label For="responseFor.<%=data.id%>.<%=question.id%>.<%=indexChoix%>">
										<%=choix%>
									</label>
								</li>
							<%})%>
						</ol>
					</div>
				</div>
			<%	})
			}%>
			<input type="submit" name="submit" value="envoyer">
		</form>
		
	</section>
	
	<%- include ("parts/footer.ejs") %>

	<!-- Error script-->
	<script type="text/javascript"> 
		<% if (locals.error) {%>
			alert("<%=error%>")
		<% } %>
	</script>
</body>
</html>