<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Les sondages de MattMatt - configuration</title>
	<%- include ("parts/include.ejs") %>
</head>
<body>
	<%- include ("parts/header.ejs") %>
	<h2>Modification de vos données personelles</h2>
	<section class="form-contener">
		<form action="/users/pseudoChange" method="POST" autocomplete="on" class="form-contener__form">
			<label For="pseudo"></label>
			<input 	type="text"
					name="pseudo" 
					id="pseudo" 
					required 
					minlength="4" 
					maxlength="15"
					autofocus
					placeholder="Pseudo"
					value="<%if(locals.pseudo){%><%=pseudo%><%}%>" 
			>
			<div class="instruction-contener">
				<label class="instruction-contener__instruction" id="pseudoValidator">Le pseudo est disponible</label>
				<label class="instruction-contener__instruction" id="pseudoLengthValidator">Le pseudo fait au moins 4 caractères<br/> mais moins de 15 caractéres</label>
			</div>
			<input type="submit" name="submit" value="valider">
		</form>
		<form action="/users/passwordChange" method="POST" autocomplete="on" class="form-contener__form">
			<label For="holdPassword">Ancien mot de passe:</label>
			<input 	type="password" 
					name="holdPassword" 
					id="holdPassword"
					required 
					minlength="8"
					placeholder="Mot de passe"
			>
			<label For="password">Mot de passe:</label>
			<input 	type="password" 
					name="password" 
					id="password"
					required 
					minlength="8"
					placeholder="Mot de passe"
			>
			<div class="instruction-contener">
				<label 	class="instruction-contener__instruction" 
						id="passwordNumberValidator">Le mot de passe contient un nombre</label>
				<label 	class="instruction-contener__instruction"
						id="passwordMajValidator">Le mot de passe contient une majuscule</label>
				<label 	class="instruction-contener__instruction"
						id="passwordMinValidator">Le mot de passe contient une minuscule</label>
				<label 	class="instruction-contener__instruction"
						id="passwordSpetialValidator">Le mot de passe contient un caractère<br/> spétial (*.! @#$%^&(){}[]:;<>,.?/~_+-=|\)</label>
				<label 	class="instruction-contener__instruction"
						id="passwordLengthValidator">Le mot de passe fait au moins 8 caractères</label>
			</div>
			<label For="passwordRepeat">Confirmation du mot de passe:</label>
			<input type="password" 
					name="passwordRepeat" 
					id="passwordRepeat" 
					required 
					minlength="8"
					placeholder="Confirmation du mot de passe"
			>
			<div class="instruction-contener">
				<label 	class="instruction-contener__instruction" 
						id="matchPasswordValidator">Le mot de passe correspond</label>
			</div>
			<input type="submit" name="submit" value="Valider">
		</form>
	</section>
	<%- include ("parts/footer.ejs") %>
	<script type="text/javascript" src="/js/signIn.js"></script>
	<script type="text/javascript"> <!-- Error script-->
		<% if (locals.error) {%>
			alert("<%=error%>")
		<% } %>
	</script>
</body>
</html>